body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    background: black;
    color: white;
  }
  
h1 {
  font-size: 2rem;
  margin: 2rem 0;
}

h2 {
  font-size: 1.8rem;
  margin: 1rem 0;
  color:white;
}

h3 {
  font-size: 1.4rem;
  text-align: center;
}

/* flex column */
.flex {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}

.ball {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  box-shadow: .1rem .1rem 1rem white;
  background: linear-gradient(to top, indigo, rgb(101, 47, 140));
}

#clickMe {
  padding: 0.8rem 1rem;
  font-size: 1.4rem;
  margin: 2rem 0;
  background: white;
  border: 2px solid white;
  border-radius: 35px;
  cursor: pointer;
}

#clickMe:hover {
  background: black;
  color: white;
}

input {
  padding: 0.5rem 1rem;
  width: 30rem;
  font-size: 1.2rem;
  background: black;
  border-radius: 1.5rem;
  border-color: white;
  color: white;
}

.divider {
  border-bottom: 1px solid white;
  margin: 0 0 1rem 0;
  min-height: 1rem;
  width: 100%;
}

.window {
  background: black;
  width: 8rem;
  height:8rem;
  padding: 1rem;
}